button {
font-size: 30px;
background: #505050;
height: 150px;
width: 150px;
border-radius: 50%;
text-align: center;
border: 2px solid black;
}

.operators {
  background: orange;
}

#zero {
  font-size: 30px;
  height: 150px;
  width: 300px;
  border-radius: 80px / 80px;
  text-align: center;
  border: 2px solid black;
}

.output {
display: block;
width: 46.75%;
height: 7em;
padding: 1%;
border: 0.1em solid white;
font: 1.1em "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
color: white;
}

.mod {
  background: #B0B0B0;
}

#outPopUp {
  align: center;
}

body {
  background-color: black;
}
